/* TODO: Styles for the devtoolkit and devtoolkitform goes here..... */

/* 

-- HEX COLOR CODES --

Dark Green Wording: #2A5F2B
Light Green Fill: #BCDAB0
Light Blue Fill: #61CDFE
Light Grey Border: #BAB8B8
Lightest Grey Fill: #E1E1E1
Lighter Grey Fill: #C4C4C4
Light Grey Wording: #7F7F7F
Medium grey Wording: #A2A2A2
Medium Grey Scroll Bar: #7E7E7E
Light Shadow: #383838

*/

/* ---- Global Styles ---- */
* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 2%;
}

/* ---- Messages Styles ---- */
.messages-section {
    padding-bottom: 1%;
}

.message {
    width: 65%;
    background-color: #BCDAB0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.message-text {
    padding: 1%;
    padding-left: 2%;
    color: #2A5F2B;
    font-size: 100%;
    width: 80%;
}

.close-icon-container {
    width: 4.5%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-icon-container img {
    width: 100%;
}

/* ---- Main body styles ---- */
.main {
    display: grid;
    grid-template-columns: 30% 69%;
    grid-column-gap: 1%;
}

/* ---- List Forms Styles ---- */
.list-forms-section {
    width: 100%;
}

.search-container {
    width: 100%;
    min-height: 55px;
    box-shadow: 0 8px 4px -4px #E1E1E1;
}

.search {
    width: 100%;
    padding: 2%;
    border-style: solid;
    border-radius: 8px;
    border-width: 1.5px;
    border-color: #E1E1E1;
    color: #7F7F7F;
}

.search::placeholder {
    color: #7F7F7F;
}

.card-container {
    width: 100%;
    background-color: #E1E1E1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    z-index: -1;
    /* Temp height, replace with min and max */
    height: 300px;
}

/* Scroll for card container */
.card-container:hover::-webkit-scrollbar-thumb {
    background: #7E7E7E;
}

.card-container::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 60px;
}

.card-container::-webkit-scrollbar {
    display: hidden;
}

.card-container::-webkit-scrollbar-button {
    display: hidden;
}

.card {
    width: 90%;
    background-color: white;
    text-align: center;
    padding: 4%;
    padding-bottom: 12%;
    margin-bottom: 6%;
    color: #7F7F7F;
    box-shadow: 0 4px 4px lightgray;
}

.card:nth-child(1) {
    margin-top: 6%;
}

.buttons-container {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: auto auto auto auto auto;
    grid-row-gap: 2%;
    grid-column-gap: 2%;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    "create sample"
    "drop edit"
    "insert edit"
    "input input"
    "all all";
}

.buttons-container button {
    border-radius: 4px;
    background-color: #E1E1E1;
    border: none;
    padding: 4% 10%;
    text-align: center;
    color: #7F7F7F;
}

.create-button {
    grid-area: create;
}

.sample-button {
    grid-area: sample;
}

.drop-button {
    grid-area: drop;
}

.edit-button {
    grid-area: edit;
    height: 100%;
}

.insert-button {
    grid-area: insert;
}

.number-records {
    grid-area: input;
    text-align: center;
    border-style: solid;
    border-radius: 4px;
    border-width: 1.5px;
    border-color: #E1E1E1;
    color: #7F7F7F;
    padding: 2% 0;
}

.number-records::placeholder {
    color: #7F7F7F;
}

.all-button {
    grid-area: all;
    padding: 2% 2%;
}

/* ---- Table Forms Styles ---- */
.table-section {
    width: 100%;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
    min-height: 500px;
}

.table-container {
    overflow: scroll;
    min-height: 450px;
    max-height: 500px;
    padding: 1% 2%;
}

.table-title {
    width: 100%;
    text-align: center;
    padding: 1%;
    color: #7F7F7F;
}

table {
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: .5% 1%;
}

.table-header th {
    background-color: #61CDFE;
    color: #333333;
    font-display: auto;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: #F1F1F1;
}

.table-container:hover::-webkit-scrollbar-thumb {
    background: #7E7E7E;
}

.table-container::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 60px;
}

.table-container::-webkit-scrollbar {
    display: hidden;
}

.table-container::-webkit-scrollbar-button {
    display: hidden;
}