/* TODO: Styles for the devtoolkit and devtoolkitform goes here..... */

/* 

-- HEX COLOR CODES --

Dark Green Wording: #2A5F2B
Light Green Fill: #BCDAB0
Light Blue Fill: #61CDFE
Light Grey Border: #BAB8B8
Lightest Grey Fill: #E1E1E1
Lighter Grey Fill: #C4C4C4
Light Grey Wording: #7F7F7F
Medium grey Wording: #A2A2A2
Medium Grey Scroll Bar: #7E7E7E
Light Shadow: #383838

*/

/* ---- Global Styles ---- */
* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    font-family: 'Raleway', sans-serif;
}

body {
    padding: 2%;
    height: 100vh;
}

input::placeholder {
    color: #7F7F7F;
}

/* For use by the javascript */
.hidden {
    display: none !important;
}

/* ---- Messages Styles ---- */
#messages-section {
    padding-bottom: 1%;
}

.message {
    width: 65%;
    background-color: #BCDAB0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.message-text {
    padding: 1%;
    padding-left: 2%;
    color: #2A5F2B;
    font-size: 100%;
    width: 80%;
}

.close-icon-container {
    width: 4.5%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-icon-container img {
    width: 100%;
}

#close-icon:hover {
    cursor: pointer;
}

/* ---- Main body styles ---- */
.main {
    display: grid;
    grid-template-columns: 30% 69%;
    grid-column-gap: 1%;
}

/* ---- List Forms Styles ---- */
.list-forms-section {
    width: 100%;
}

.search-container {
    width: 100%;
    box-shadow: 0 8px 4px -4px #E1E1E1;
}

#search {
    width: 100%;
    padding: 2.5%;
    margin-bottom: 3%;
    border-style: solid;
    border-radius: 8px;
    border-width: 1.5px;
    border-color: #E1E1E1;
    color: #7F7F7F;
}

#search::placeholder {
    color: #7F7F7F;
}

.card-container {
    width: 100%;
    background-color: #E1E1E1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    z-index: -1;
    /* Temp height, replace with min and max */
    height: 300px;
    padding: 0 3%;
}

/* Scroll for card container */
.card-container:hover::-webkit-scrollbar-thumb {
    background: #7E7E7E;
}

.card-container::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 60px;
}

.card-container::-webkit-scrollbar {
    display: hidden;
}

.card-container::-webkit-scrollbar-button {
    display: hidden;
}

.card {
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 4%;
    padding-bottom: 12%;
    margin: 6% 0;
    color: #7F7F7F;
    box-shadow: 0 4px 4px lightgray;
}

.card-title {
    padding-bottom: 1.5%;
    color: #A2A2A2;
}

.buttons-container {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: auto auto auto auto auto;
    grid-row-gap: 2%;
    grid-column-gap: 2%;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    "create sample"
    "drop edit"
    "insert edit"
    "input input"
    "all all";
}

.buttons-container button {
    border-radius: 4px;
    background-color: #E1E1E1;
    border: none;
    padding: 4% 10%;
    text-align: center;
    color: #7F7F7F;
}

.buttons-container button:hover {
    color: white;
    background-color: #61CDFE;
    cursor: pointer;
}

.buttons-container button:active {
    background-color: #24BAFD;
}

.create-button {
    grid-area: create;
}

.sample-button {
    grid-area: sample;
}

.drop-button {
    grid-area: drop;
}

.edit-button {
    grid-area: edit;
    height: 100%;
}

.insert-button {
    grid-area: insert;
}

.number-records {
    grid-area: input;
    text-align: center;
    border-style: solid;
    border-radius: 4px;
    border-width: 1.5px;
    border-color: #E1E1E1;
    color: #7F7F7F;
    padding: 2% 0;
}

.all-button {
    grid-area: all;
    padding: 2% 2%;
}

/* Main card container */
.main-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2%;
}

.main-card {
    margin-top: 4%;
    padding: 4%;
    width: 100%;
    background-color: white;
    text-align: center;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
}

.main-buttons-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
    grid-template-areas:
    "drop create"
    "sub sub";
}

.drop-all-button {
    grid-area: drop;
}

.create-all-button {
    grid-area: create;
}

.main-buttons-container button, .sub-buttons-container button {
    color: white;
    background-color: #61CDFE;
    border-radius: 4px;
    border: none;
    padding: 6% 4%;
    text-align: center;
}

/* TODO: Fix the buttons to have a border on hover without moving everything   */
.main-buttons-container button:hover, .sub-buttons-container button:hover {
    color: #61CDFE;
    background-color: white;
    cursor: pointer;
}

.main-buttons-container button:active, .sub-buttons-container button:active{
    background-color: rgb(36, 186, 255);
    color: white;
    border: none;
}

.sub-buttons-container {
    grid-area: sub;
    width: 100%;
    background-color: #F1F1F1;
    border: 1px solid #AFAFAF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 6%;
}

.sub-buttons-container .item {
    margin-bottom: 2%;
}

.sub-buttons-container button {
    width: 100%;
    padding: 4% 2%;
}

.sub-buttons-container input {
    width: 100%;
    text-align: center;
    border-style: solid;
    border-radius: 4px;
    border-width: 1.5px;
    border-color: #E1E1E1;
    color: #7F7F7F;
    padding: 3% 0;
}

/* ---- Table Forms Styles ---- */
/* TODO: Fix table sizing. It breaks when going to big*/
.table-section {
    width: 100%;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
    min-height: 500px;
    overflow: scroll;
    max-height: 550px;
}

.table-container {
    padding: 1% 2%;
}

.table-title {
    width: 100%;
    text-align: center;
    padding: 1%;
    color: #7F7F7F;
}

table {
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: .5% 1%;
}

.table-header th {
    background-color: #61CDFE;
    color: #333333;
    font-display: auto;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: #F1F1F1;
}

.table-section:hover::-webkit-scrollbar-thumb {
    background: #7E7E7E;
}

.table-section::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 60px;
}

.table-section::-webkit-scrollbar {
    display: hidden;
}

.table-section::-webkit-scrollbar-button {
    display: hidden;
}