/* developer tools CSS */


/*
-------------------------------------------------------------- 
general
-------------------------------------------------------------- 
*/

html, body {
    padding: 0;
    margin: 0;
    height: 100vh; 
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    color: #a3a3a3;
    font-size: 16px;
    scroll-behavior: smooth;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

::selection {
    color: #ffffff;
    background: #61CDFE;
}

a {
    color: #BBBBBB;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

a:hover {
    color: #61CDFE;
}

div {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    color: #BBBBBB;
}

/* scrollbar pieces ============================================== */
/* https://css-tricks.com/custom-scrollbars-in-webkit/ */
::-webkit-scrollbar { 
    width: 7px;
    height: 7px;
    background-color: transparent;
 }
::-webkit-scrollbar-button { 
    display: none;
 }
::-webkit-scrollbar-thumb { 
    border-radius: 10px;
    background-color: rgb(230, 230, 230);  
}

.table-view:hover::-webkit-scrollbar-thumb,
.tables:hover::-webkit-scrollbar-thumb,
.form-container > div:hover::-webkit-scrollbar-thumb { 
    background-color: rgb(218, 218, 218);  
}

/* floating-options scroll bar, to help hide scroll */
.floating-options.moveable::-webkit-scrollbar { 
    width: 0px;
    height: 0px;
    background-color: transparent;
 }
 .floating-options.moveable::-webkit-scrollbar-button { 
    display: none;
 }
 .floating-options.moveable::-webkit-scrollbar-thumb { 
    border-radius: 10px;
    background-color: rgba(230, 230, 230, 0);    
}
/* scrollbar pieces end ============================================== */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #e6e6e6;
    outline: none;
    border-radius: 4px;
    color: #a3a3a3;
    box-sizing: border-box;
    transition: border 400ms ease-in-out;
}

input[type=text]:focus, select:focus {
    border: 1px solid #cfcfcf;
}

input[type=text]::-webkit-input-placeholder {
    color: #c4c4c4;
}

input[type=text]:-ms-input-placeholder {
    color: #c4c4c4;
}

input[type=text]::placeholder {
    color: #c4c4c4;
}
    
input[type=submit] {
    background-color: #61CDFE;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
}
    
input[type=submit]:hover {
    background-color: #50afdb;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15);
}

.fade-out {
    -webkit-animation-name: fade-out; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: fade-out;
    animation-duration: 1s;
}

/* login-form-container animation code */
@keyframes fade-out {
    0%   {opacity: inherit;}
    100% {opacity: 0;}
}

.fade-in {
    -webkit-animation-name: fade-in; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: fade-in;
    animation-duration: 1s;
}

/* login-form-container animation code */
@keyframes fade-in {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

[data-toolTip]::before {
    position: absolute;
    top: 41px;
    left: calc(50% - 4px);
    z-index: 300;
    width: 7px;
    height: 7px;
    background-color: var(--userCard-tooltip-color, rgba(0, 0, 0, 0.87));
    content: " ";
    transform: scale(0) rotate(45deg);
    transition: transform 100ms ease-in-out;
}

[data-toolTip] {
    position: relative;
}

[data-toolTip]:hover::before {
    transform: scale(1) rotate(45deg);
    transition-delay: 1.2s;
}

[data-toolTip]::after {
    position: absolute;
    top: 44px;
    right: 0;
    z-index: 300;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--userCard-tooltip-color, rgba(0, 0, 0, 0.87));
    color: var(--userCard-tooltip-text-color, #ffffff);
    font-size: 11px;
    text-align: center;
    word-wrap: none;
    content: attr(data-toolTip);
    transform: scale(0);
    white-space: nowrap;
    transition: transform 100ms ease-in-out;
}

[data-toolTip]:hover::after {
    transform: scale(1);
    transition-delay: 1.2s;
}

.pagination [data-toolTip]::after {
    top: 30px;
    right: unset;
}

.pagination [data-toolTip]::before {
    top: 28px;
    left: calc(50% - 3px);
}

.btn {
    border-radius: 7px;
    padding: 10px 15px;
    background-color: #61CDFE;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    transition: all 300ms ease-in-out;
}
.btn:hover{
    color: #ffffff;
    background-color: #50afdb;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15);
}

.spacer-m30 {
    margin: 15px auto;
}

.spacer-p30 {
    padding: 15px 0px;
}

/*
-------------------------------------------------------------- 
Login
-------------------------------------------------------------- 
*/
.login-container {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    animation-fill-mode: forwards; 
}

.login {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    animation-fill-mode: forwards;
}

.login-bg {
    position: relative;
    min-height: 100vh;
    animation-fill-mode: forwards;
}

.login-bg img {
    width: 85%;
    max-width: 1000px;
}

.login-form-container {
    position: absolute;
    left: 0;
    bottom: -400px;
    width: 100%;
    animation-fill-mode: forwards;
}

.login-form-container-hold {
    bottom: calc(50% - 100px);
}

.login-form-container.login-enter {
    -webkit-animation-name: login-enter; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.2s; /* Safari 4.0 - 8.0 */
    animation-name: login-enter;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.05, 1.1);
    animation-delay: .5s;
}

/* login-form-container animation code */
@keyframes login-enter {
    0%   {bottom: -400px;}
    75%  {bottom: calc(50% - 60px)}
    100% {bottom: calc(50% - 100px);}
}

.login-form-container.login-error {
    animation-name: login-error-container;
    animation-duration: 1.2s;   
}

/* login-error-container animation code */
@keyframes login-error-container {
    0% {bottom: calc(50% - 100px);}
    25%  {bottom: calc(50% - 40px)}
    75%  {bottom: calc(50% - 40px)}
    100% {bottom: calc(50% - 100px);}
}

.login-form.login-error {
    animation-name: login-error-form;
    animation-duration: 1.2s;
}

/* login-error-container animation code */
@keyframes login-error-form {
    0% {margin: 0;}
    25%  {margin: 0;}
    35%  {margin: 0 0 0 25px;}
    45%  {margin: 0 25px 0 0;}
    55%  {margin: 0 0 0 25px;}
    65%  {margin: 0 25px 0 0;}
    75%  {margin: 0;}
    100% {margin: 0;}
}

.login-leave {
    bottom: calc(50% - 100px);
    animation-name: login-leave;
    -webkit-animation-name: login-leave; /* Safari 4.0 - 8.0 */
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.05, 1.1);
    animation-delay: .5s;
}

/* login-leave animation code */
@keyframes login-leave {
    0% {bottom: calc(50% - 100px);}
    25%  {bottom: calc(50% - 60px)}
    100%   {bottom: -400px;}
}

.login-form {
    padding: 25px;
    background-image: linear-gradient(to bottom right, #ffffff, #EFEFEF);  
    border-radius: 16px;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.3);
}

.login-form > div {
    background: url("images/login-form-bg.png") no-repeat center;
    background-size: cover; 
    border-radius: 16px;
    box-sizing: border-box;
    padding: 25px 0px;
}

.login-form form {
    padding: 0px;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
}

.login-form-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    box-sizing: border-box;
}

.login-form-grid > div {
    padding: 10px 25px;
    position: relative;
}

.login-form-icon {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 20px;
    left: 35px;
}

.login-show-password {
    color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 20px;
    right: 35px;
    cursor: pointer;
}

.login-form input[type=text],
.login-form input[type=password] {
    display: block;
    padding: 10px 5px;
    padding-left: 35px;
    border: 0px solid transparent;
    border-radius: unset;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.5);
    outline-color: rgba(0, 0, 0, 0.3);
    transition: all 400ms ease-in-out;
}

.login-form input[type=text]:focus,
.login-form input[type=password]:focus {
    outline-color: rgba(0, 0, 0, 0.5); 
}

.login-error .login-form input[type=text],
.login-error .login-form input[type=password] {
    background-color: rgba(255, 0, 0, 0.5);
    outline-color: rgba(255, 0, 0, 0.5);
}

.login-success .login-form input[type=text],
.login-success .login-form input[type=password] {
    background-color: rgba(7, 177, 1, 0.5);
    outline-color: rgba(7, 177, 1, 0.5);
}

.login-form input::placeholder {
    color: rgba(255, 255, 255, 0.3);
}
.login-form input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
}
.login-form input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
}

.login-form input[type=submit] {
    border: unset;
    border-radius: unset;
    margin: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #ffffff;
    padding: 10px 5px;
    cursor: pointer;
    outline:none;
    transition: all 400ms ease-in-out;
}

.login-form input[type=submit]:hover {
    outline: none;
    background-color: rgba(255, 255, 255, 0.65);
}

/*
-------------------------------------------------------------- 
DevTool Home/Edit
-------------------------------------------------------------- 
*/

.dev-tool-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 30px 15px 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 400ms ease-in-out;
}

.tables-main-container {
    position: relative;
    display: inline-block;
    height: calc(100vh - 60px);
    min-width: 300px;
    max-width: 350px;
    width: 50%;
    transition: max-width 400ms ease-in-out 400ms;
}

.table-view-main-container {
    display: inline-block;
    min-width: 300px;
    max-width: calc(100vw - 365px);
    transition: max-width 400ms ease-in-out;
}

.edit-tables-view .tables-main-container {
    max-width: 600px;
    transition: max-width 400ms ease-in-out 600ms;
}

.edit-tables-view .table-view-main-container {
    max-width: calc(100vw - 615px);
    transition: max-width 400ms ease-in-out 600ms;
}

.edit-tables-view .form-main-container {
    left: 0px;
    height: calc(100vh - 60px);
    transition: left 400ms ease-in-out 600ms, height 400ms ease-in-out 900ms;
}

/* moving block */
.edit-tables-view .tables-container{
    left: 800px;
}

.edit-tables-view .tables-footer-options {
    bottom: 70px;
    transition: bottom 400ms ease-in-out;
}

.edit-tables-view .tables-search-options {
    padding: 62px 35px 30px 15px;
    transition: padding 400ms ease-in-out;
}

.view-cover {
    position: absolute;
    top: 0px;
    left: 70vw;
    min-width: 100vh;
    height: calc(100vh - 113px);
    background-color: #ffffff;
}

/* moving block */
.form-main-container {
    position: absolute;
    top: 0px;
    left: 810px;
    margin: 0px 30px;
    min-width: 300px;
    height: calc(100vh - 150px);
    transition: left 400ms ease-in-out 400ms, height 400ms ease-in-out;
}

.form-container {
    height: calc(100% - 52px);
    min-width: 400px;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 9px;
    padding: 30px 10px 30px 30px;
}

.form-container h3 {
    margin-top: 0;
}

.form-container .form-view{
    height: calc(100% - 50px);
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 20px;
}

.form-container-btn-group {
    display: inline-flex;
    position: absolute;
    bottom: 83px;
    left: 31px;
    width: 100%;
}

.form-container-btn-group .btn {
    border-radius: 50%;
    border: 1px solid #e2e2e2;
    height: 30px;
    width: 30px;
    padding: unset;
    margin: 0 11px 0 0;
    background-color: #ffffff;
    color: #e2e2e2;
    font-size: 17px;
    cursor: pointer;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.form-container-btn-group .btn:hover {
    border: 1px solid #e6e6e6;
    color: #a3a3a3;
}

.form-btn-group {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tables-container {
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 350px;
    height: calc(100vh - 60px);
    transition: left 600ms ease-in-out 400ms;
    overflow: hidden;
}

.tables-search-options {
    position: absolute;
    top: 0px;
    left: 0;
    width: calc(100% + 20px);
    background-color: #ffffff;
    padding: 0 35px 30px 15px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.3);
    transition: padding 400ms ease-in-out 900ms;
}

.tables-search-options input{
    margin: unset;
}

.tables-search-options::after {
    position: absolute;
    top: -40px;
    left: 0;
    width: calc(100% + 20px);
    height: 40px;
    box-sizing: border-box;
    content: ' ';
    background-color: #ffffff;
}

.tables {
    height: calc(100% - 387px);
    margin: 72px 0 0 0;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #F1F1F1;
}

.table-card {
    margin: 0px auto 30px auto;
    width: 80%;
    height: 300px;
    padding: 15px 20px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    grid-gap: 10px;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.3);
    transition: all 500ms, height 200ms;
    transform-origin: center;
    transition-timing-function: ease-in-out;
}

.table-card-hide {
    transform: scale(0);
    padding: 0;
    height: 0px;
    margin-top: 0;
    margin-bottom: 0;
    transition:all 300ms, height 1000ms;
}

.table-card:hover {
    box-shadow: 0px 9px 16px rgba(0, 0, 0, .1);
}

.table-card input,
.table-card h3 {
    margin: unset;
}

.table-card input,
.table-card input::placeholder {
    text-align: center;      
}

.table-card .btn {
    background-color: #EBEBEB;
    color: #a3a3a3;
}

.table-card .btn:hover {
    background-color: #dddddd;
    color: #ffffff;
}

.tables-footer-options {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: calc(100% + 20px);
    height: 314px;
    background-color: #ffffff;
    padding: 25px 45px 0px 25px;
    box-shadow: 0px -6px 16px rgba(0, 0, 0, 0.3);
    transition: bottom 400ms ease-in-out 900ms;
}

.tables-footer-options::after {
    position: absolute;
    top: 0px;
    right: -20px;
    width: 20px;
    height: 100%;
    content: '';
    background-color: #ffffff;
}

.tables-footer-options::before {
    position: absolute;
    bottom: -20px;
    left: -20px;
    width: calc(100% + 20px);
    height: 20px;
    content: '';
    background-color: #ffffff;
}

.tables-footer-options > div {
    border: 1px solid #e6e6e6;
    border-radius: 9px; 
    padding: 15px 25px 20px 25px;     
}

.all-tables-card {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    grid-gap: 10px;       
}

.all-tables-card h2 {
    margin: 0;
    font-size: 18px;      
}

.all-tables-card input,
.all-tables-card input::placeholder {
    margin: unset;
    text-align: center;      
}

.all-tables-card > div {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    grid-gap: 10px; 
    background-color: #F1F1F1; 
    border: 1px solid #d5d5d5;
    border-radius: 9px; 
    padding: 15px 20px;      
}

.span2 {
    grid-column: span 2;
}

.span2-row {
    grid-row: span 2;
}

.table-view-container {
    z-index: 3;
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 9px;
    min-width: 350px;
    height: calc(100vh - 110px);
    padding: 10px 30px;
    margin-right: 30px;
    background-color: #ffffff;
}

.side-border-bar {
    z-index: 20;
    position: absolute;
    top: 52px;
    right: 36px;
    width: 10px;
    height: calc(100vh - 186px);
    background-color: #ffffff;
}

.bottom-border-bar {
    z-index: 20;
    position: absolute;
    bottom: 22px;
    right: 46px;
    height: 10px;
    width: calc(100% - 76px);
    background-color: #ffffff;
}

.table-view-container h1 {
    margin: 5px 0 15px 0;
    font-size: 20px;
}

.button-options{ 
    position: absolute;
    top: 20px;
    right: -23px;
}

.button-options .btn {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    padding: unset;
    margin-bottom: 11px;
    background-color: #61CDFE;
    color: #ffffff;
    font-size: 17px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.button-options .btn.delete,
.floating-options .btn.delete {
    background-color: #d60000;
}

.button-options .btn.delete:hover,
.floating-options .btn.delete:hover {
    background-color: #c00000;
}

.button-options .btn:hover,
.floating-options .btn:hover {
    background-color: #50afdb;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15);
}

.table-view {
    height: calc(100vh - 182px);
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: scroll;
}

.floating-header {
    position: absolute;
    top: 54px;
    width: calc(100% - 75px);
    overflow: hidden;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.floating-options {
    position: absolute;
    top: 54px;
    right: 45px;
    width: 100px;
    overflow: hidden;
}

.floating-options.moveable {
    height: calc(100vh - 197px);
    box-shadow: -6px 0px 6px rgba(0, 0, 0, 0.15);
}

.floating-options .btn-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 17px;
    display: flex;
    align-items: center;
}

.floating-options .btn {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 5px 5px 5px 0;
    font-size: 14px;
    background-color: #61CDFE;
    color: #ffffff;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.floating-options thead {
    color: #696969;
    text-align: left;
}

.floating-options th, 
.floating-options td {
    position: relative;
    text-align: left;
}

.floating-options th {
    color: #696969;
}

.place-holder-text {
    visibility: hidden;
}

.floating-header span {
    background-color: #C4C4C4;
    color: #696969;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

table {
    border-collapse: collapse;
    min-width: calc(100vw - 30%);
}

.floating-options table {
    border-collapse: collapse;
    min-width: unset;
}

th {
    background-color: #C4C4C4;
    color: #696969;
    white-space: nowrap;
    height: 35px;
}

th, td {
    text-align: center;
    padding: 8px;
}

.view-lg {
    padding-left: 350px; 
    padding-right: 350px; 
}

.view-md {
    padding-left: 200px; 
    padding-right: 200px; 
}

.view-sm {
    padding-left: 100px; 
    padding-right: 100px; 
}

.view-xs {
    padding-left: 50px; 
    padding-right: 50px; 
}

.view-xxs {
    padding-left: 25px; 
    padding-right: 25px; 
}

.view-lg-right {
    padding-left: 18px;
    padding-right: calc(700px - 10px); 
}

.view-md-right {
    padding-left: 18px;
    padding-right: calc(400px - 10px); 
}

.view-sm-right {
    padding-left: 18px;
    padding-right: calc(200px - 10px); 
}

.view-xs-right {
    padding-left: 18px;
    padding-right: calc(100px - 10px); 
}

.view-xxs-right {
    padding-left: 18px;
    padding-right: calc(50px - 10px); 
}

.view-end {
    padding-left: 100px; 
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:nth-child(even) td {
    /* border-left: 1px solid #e7e7e7; */
    border-right: 1px solid #e7e7e7;
}

tr:nth-child(odd) td {
    border-right: 1px solid #f3f3f3;
}

.pagination {
    padding-top: 15px;
}

.pagination span {
    padding-bottom: 3px;
}

.pagination .btn {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: unset;
    margin: 5px 5px 5px 0;
    font-size: 14px;
    background-color: #C4C4C4;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 400ms ease-in-out;
}

.pagination .btn.active,
.pagination .btn.active:hover {
    background-color: #61CDFE;
}

.pagination .btn:hover {
    background-color: #b1b1b1;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1200px) {
    .edit-tables-view .table-view-main-container {
        max-width: calc(100vw - 450px);
        transition: max-width 400ms ease-in-out 600ms;
    }
}

@media screen and (max-width: 900px) {
    .tables-main-container {
        max-width: 80%;
        display: block;
        margin-bottom: 30px;
    }

    .form-main-container {
        margin: 0px;
    }

    .form-container {
        min-width: 300px;
    }

    .tables-container {
        width: 100%;
    }

    .edit-tables-view .table-view-main-container,
    .table-view-main-container {
        display: block;
        max-width: 80%;
    }

    .table-view-container {
        margin-right: 0px;
    }

    .dev-tool-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: unset;
    }

    .edit-tables-view .tables-main-container,
    .tables-main-container {
        max-width: 80%;
        width: 100%;
    }

    .dev-tool-container {
        padding: 30px 0;
    }

    html, body {
        height: unset;
        overflow: unset;
    }

    .view-cover {
        left: 100vw;
    }
}

@media screen and (max-width: 450px) {
    .form-btn-group {
        flex-direction: column;   
    }

    .edit-tables-view .form-main-container {
        height: calc(100vh - 150px);
    }

    .form-btn-group .btn {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 10px;
    }

    .edit-tables-view .table-view-main-container,
    .table-view-main-container {
        max-width: 86%;
    }

    .edit-tables-view .tables-main-container {
        max-width: 86%;
    }

    .tables-main-container {
        max-width: 100%;
    }

    .table-view-container {
        min-width: 150px;
    }
}
/*
-------------------------------------------------------------- 
general override
-------------------------------------------------------------- 
*/

.non-active-container {
    top: 150%;
    left: 0; 
}